.nav-link.dropdown-toggle{
    color:rgb(24, 22, 22);
}

/* chỉnh chữ cho nav */
.nav-text{
    font-size: 20px;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}   
#search-box{
    background-color: #fff;
    border-radius: 15px;
}
#search-box input{
    border: none;
    outline: none;
    color: #202020;
    background: none;
}
#search-box button{
    border: none;
    background: none;
    outline: none;
    margin-right: 10px;
}

/* Làm hover cho dropdown */
.hover_drop_down:hover ul.dropdown-menu{
    display: block;
}
.hover_drop_down:hover > a{
    color: rgba(238, 16, 16, 0.932);
    border-top: 3px solid rgba(238, 16, 16, 0.932);
    padding-top: 2px;
}
/* làm hover cho header(ko zoom duoc) */
header{
    margin-top: 60px;
}

.hover-zoom{
    position: relative;
}

.hover-zoom img{
    transition: all 0.5s ease-in-out;
    object-fit: cover;
    height: 170px;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 80%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
.hover-zoom:hover .overlay{
    opacity: 1;
}
.nav-head img:hover
{
    transform: scale(1.1);
}

.header-title{
    width: 80%;
}
.header-title a{
    text-decoration: none;
    color: #fff;
}
.header-title a:hover{
    color: chocolate;
}
/* chỉnh sửa nút di chuyển trái phải */
/* .carousel-control-prev, .carousel-control-next {
    width: 3%;
    height: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 80%;
    height: 100%;
}
.carousel-control-prev-icon{
    position: absolute;
    left: 0;
}
.carousel-control-next-icon{
    position: absolute;
    right: 0;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
    background-color: black;
} */
/* làm  mega menu*/
/*
    favicon
*/
/* tiêu đề danh mục */
.name_cate{
    width: 100%;
    height: 170px;
    background-color: #0f0e0e4b;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
/* thanh ngang */
/* card trong menu món chính */
.card
{
    width: 30%;
    background-color: rgb(43, 40, 36);
    border: 0.5px solid #7bdcb5;
    transition: all 0.5s ease-in-out;
}

.card:hover
{
    box-shadow:5px 5px 5px ;
    bottom: 5px;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.btn-warning{
    position: relative;
}
.btn-warning::before{
    content: "";
    border-top: 2px solid #7bdcb5;
    width: 50%;
    position: absolute;
    bottom: 150%;
    left: 25%;
}
/* footer */
footer{
    clear: both;
    position: relative;
    margin-top: 80px;
}
